.servicing-container{
    display: flex;
    padding: 20px 10px;
    row-gap: 20px;
    flex-direction: column;
    background-color: azure;
}
.heading{
    background-color: var(--dark-purple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    padding: 20px 10px;
}
.heading h1{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.heading p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: var(--lilac);
    width: 80%;
}
.servicedetails1{
    display: none;
}

.serviceimage{
    width: 100%;
}
.serviceimage img{
    width: 100%;
    height: 300px;
    margin: auto;
}
.divider{
    border: 0.7px solid var(--lilac);
    margin: 16px 10px;

}
.repair-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 10px;
    margin: auto;

}
.repair-details iframe{
    width: 100%;
    height: 300px;
}
.repair-details button{
    background-color: var(--dark-purple);
    color: var(--white);
    width: 70%;
    margin: auto;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--dark-purple);
    cursor: pointer;
}
.repair-details button:hover{
    background-color: var(--dark-violet);
}

.links-container{
    
    padding: 20px 20px;
    margin: auto;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: var(--white);
}
.footerlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 8px;
}
.footerlogo img{
    width: 80%;
}
.footerlogo p{
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    color: var(--lilac);
}

.about{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 6px;
}
.about h3{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.about ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.about ul li{
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.about span{
    font-style: italic;
    color: var(--lilac);
}
#socialmediaicons{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
#socialmediaicons img{
    width: 18px;
    height: 18px;
}

.quicklinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    row-gap: 6px;
}
.quicklinks h3{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.quicklinks ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.quicklinks ul li{
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    font-style: italic;
    color: var(--lilac);
}
.quicklinks a{
    text-decoration: none;
    color: inherit;
}